<!DOCTYPE html>
<html lang="en">
<head>
    <title>Facial Feature Detection and Its Applicability to Mental Health Illness Diagnosis</title>
    <link rel="stylesheet" href="/Users/macair/FYP_TitoE/FYP/static/style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Facial Feature Detection and Its Applicability to Mental Health Illness Diagnosis</h1>
        <div class="card-container">
            <div class="card">
                <h2 class="card-title">Upload Image</h2>
                <p class="card-text">Please investigate your concerns by uploading an image.</p>
                <p class="card-text">Please use appropriate and clear lighting and ensure the entire face is shown.</p>
                <a href="/Users/macair/FYP_TitoE/FYP/templates/upload.html" class="card-link">Upload</a>
            </div>
            <div class="card">
                <h2 class="card-title">Contact Us</h2>
                <p class="card-text">If you have any questions or concerns, please feel free to reach out to us.</p>
                <a href="/Users/macair/FYP_TitoE/FYP/templates/contact.html" class="card-link">Contact Page</a>
            </div>
            <div class="card">
                <h2 class="card-title">About</h2>
                <p class="card-text">Learn more about your concerns.</p>
                <a href="/Users/macair/FYP_TitoE/FYP/templates/about.html" class="card-link">About Page</a>
            </div>
            <div class="card">
                <h2 class="card-title">Campredict</h2>
                <p class="card-text">Explore our Campredict feature for image analysis.</p>
                <a href="/Users/macair/FYP_TitoE/FYP/templates/campredict.html" class="card-link">Camera Predict Page</a>
            </div>
        </div>
    </div>
</body>
</html>
